* {
    margin:0px;
    padding:0px;
    background-color: #eee;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display:flex;
    flex-direction: row;
    margin:30px;
}

.left {
    min-width: 400px;

}
@media (max-width: 850x) {
    .container {
        display:flex;
        flex-direction: column;
    }
        
}